
<div class="container mt-4 mb-5">
  <h3 class="mt-4 mb-4">Mes infos personnelles</h3>
  <p>email : <%= current_user.email %></p>
  <p>Date de création du profil : <%=  current_user.created_at.strftime("%d %B %Y") %></p>
  <%= link_to "Editer mon profil", edit_user_registration_path, class:"btn btn-light custom-bg-color"   %>
</div>



<div class="container mt-4 mb-5">
  <% if @user.bookings.present? %>
    <% future_bookings = @user.bookings.select { |booking| booking.ends_at > Date.today } %>
    <% past_bookings = @user.bookings.select { |booking| booking.ends_at < Date.today } %>

    <% if future_bookings.present? %>
      <h3 class="mt-4 mb-4">Mes réservations à venir</h3>
      <div class="row row-cols-1 row-cols-md-4 g-2">
        <% future_bookings.each do |booking| %>
          <div class="col mb-3">
            <div class="card" style="width: 18rem;">
              <%= image_tag "#{booking.room.photo}", class:"card-img-top img-fluid img-size" %>
              <div class="card-body">
                <h4 class="card-title"><%= booking.room.hotel.name %></h4>
                <p class="card-text"><%= booking.room.hotel.address %></p>
                <p class="card-text"><em>Réservée du <br>
                  <%= booking.starts_at.strftime('%d-%m-%Y') %> au <%= booking.ends_at.strftime('%d-%m-%Y') %></em>
                <p class="card-text">total : <%= booking.total_price %>€</p>
                <%= link_to "Annuler", booking_path(booking), class: "btn btn-dark custom-bg-color2", data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir annuler cette réservation ?"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if past_bookings.present? %>
      <h3 class="mt-4 mb-4">Mes réservations passées</h3>
      <div class="row row-cols-1 row-cols-md-3 g-2">
        <% past_bookings.each do |booking| %>
          <div class="col-4 mb-3">
            <div class="card" style="width: 18rem;">
              <%= image_tag "#{booking.room.photo}", class:"card-img-top img-fluid img-size" %>
              <div class="card-body">
                <h4 class="card-title"><%= booking.room.hotel.name %></h4>
                <p class="card-text"><%= booking.room.hotel.address %></p>
                <p class="card-text">
                  <em>Réservée du <br>
                  <%= booking.starts_at.strftime('%d-%m-%Y') %> au <%= booking.ends_at.strftime('%d-%m-%Y') %></em>
                </p>
                <p class="card-text">total : <%= booking.total_price %>€</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <p>Aucune réservation.</p>
  <% end %>
</div>